h1
{
    color: White;
    text-align: center;
    font : "Barlow";
    font-family: "Barlow";
    font-weight: 900;
    font-size: 400%;
    
}
h3
{
    color: White;
    text-align: center;
    font : "Barlow";
    font-family: "Barlow";
    font-weight: 200;
   
}
input{
    font : "Barlow";
    font-family: "Barlow";
    width: 75%;
}
button
{
    font-weight: 200;
    font : "Barlow";
    font-family: "Barlow";
    border: none;
    background-color: white;
    width: 25%;
    border-radius: 50px;
   
    
}
.bs-linebreak
{
    height: 75px;
}
body
{
    background-color: #357960;
    overflow: hidden;
}