@import "../node_modules/bootstrap/scss/bootstrap";

input {
    font-family: "Barlow";
    font: "Barlow";
    border-radius: 5px;
    text-align: center;
    width: 90%;
    @include font-size(1.2rem);
    border: 1px solid black;
}

#select-plot-note {
    color: White;
    text-align: center;
    font-family: "Barlow";
    font: "Barlow";
    font-weight: 400;
    @include font-size(2.5rem);
}

#plot-select {
    @include font-size(1.5rem);
    font-family: "Barlow";
    font: "Barlow";
    border-radius: 20px;
    border: none;
    position: relative;
    text-align: left;
    width: 100%;
}

select {
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    @include font-size(1.2rem);
    border-color: black;
    padding: 2%;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
}

option {
    font-family: "Barlow";
    font: "Barlow";
}

table {
    font-family: "Barlow";
    font: "Barlow";
    overflow-x: scroll;
    @include font-size(1rem);
    border: none;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 5px;
    margin-top: 4%;
}

table tbody {
    display: table;
    width: 100%;
}

table thead {
    display: table;
    width: 100%;
    border-bottom: #252424;
}

th,
td {
    width: 28%;
    min-width: 200px;
    white-space: nowrap;
}

#table-icon {
    color: #357960;
    @include font-size(1rem);
    scale: 150%;
}

#add-new-tree-button {
    font-weight: 200;
    font-family: "Barlow";
    font: "Barlow";
    @include font-size(1.5rem);
    border-radius: 15px;
    padding: 1%;
    border: none;
    min-width: 130px;
    background-color: white;
    color: black;
    width: 25%;
}

#pop-up-update {
    font-weight: 200;
    font-family: "Barlow";
    font: "Barlow";
    @include font-size(1.2rem);
    background-color: #357960;
    border: none;
    color: white;
    width: 100%;
}

#gray-note {
    color: white;
    font-style: italic;
    @include font-size(.9rem);
}

.modal {
    font-family: 'Barlow';
    font-weight: bold;

}

.modal-body {
    font-weight: 300;
}

#staticBackdropLabel {
    font-weight: bold;
    @include font-size(1.2rem);
    font-family: 'Barlow';
    font: 'Barlow';
}

h4 {
    margin-top: 4%;
    @include font-size(1.2rem);
}

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submission-notice {
    text-align: center;
    color: red;
    @include font-size(1rem);
    margin: auto;
    font-family: "Barlow";
    font: "Barlow";
    font-weight: bold;
}